ShoppingCartMVCProject/Web References/localhost/CardInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cardno" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="cvv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="expdate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totamt" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessPayment" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="CardInfoServiceSoap">
    <wsdl:operation name="ProcessPayment">
      <wsdl:input message="tns:ProcessPaymentSoapIn" />
      <wsdl:output message="tns:ProcessPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CardInfoServiceSoap" type="tns:CardInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessPayment">
      <soap:operation soapAction="http://tempuri.org/ProcessPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CardInfoServiceSoap12" type="tns:CardInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessPayment">
      <soap12:operation soapAction="http://tempuri.org/ProcessPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardInfoService">
    <wsdl:port name="CardInfoServiceSoap" binding="tns:CardInfoServiceSoap">
      <soap:address location="http://localhost:53422/CardInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="CardInfoServiceSoap12" binding="tns:CardInfoServiceSoap12">
      <soap12:address location="http://localhost:53422/CardInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>